{% extends 'base.html' %} {% block content %}

<br>
<div class="row" style="margin-left: 2%; margin-right: 2%;">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Naturelle</h5>
                        <span class="h2 font-weight-bold mb-0">350,897</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fas fa-chart-bar"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Sanitaire</h5>
                        <span class="h2 font-weight-bold mb-0">2,356</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                    <span class="text-nowrap">Since last week</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Sécuritaire</h5>
                        <span class="h2 font-weight-bold mb-0">924</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                    <span class="text-nowrap">Since yesterday</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                        <span class="h2 font-weight-bold mb-0">49,65%</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                            <i class="fas fa-percent"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                    <span class="text-nowrap">Since last month</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div style="margin-left: 35%;">
    <span class="align-baseline"><button class=" btn btn-warning" type="submit" name="save" value="save" id="toggle" style="margin-top: 20px; font-size: 20px;"> Commencer la  simulation</button></span>
</div>
<br>
<div id="third" style="display: none;">
    <table class="container">
        <tr>
            <td class="right">
                <br>
                <span class="align-baseline" style="font-size: 20px;"> <b>&nbsp; Quelle est la nature de la catastrophe</b></span>
                <hr>
                <div>
                    <form method="POST" action="{% url 'vitess_p' %}"> {% csrf_token %}
                        <div style="margin-left: 20%; font-size: 18px;">{% for i in categorie %}
                            <b><label class="options"> {{ i.cathegorie_name }}
                                <input type="radio" name="categorie" value="{{i}}" required> <span class="checkmark"></span></label><br><br> {% endfor %} </div>
                            <hr>
                            <div class="d-flex align-items-center" id="pre_sui">
                                <div class="ml-auto mr-sm-5">
                                    <button class="btn btn-outline-success" type="submit" value="Submit" name="submit" id="checked">Suivant</button>
                                </div>
                            </div>
                        </form>
                    </div>
            </td>
        </tr>
    </table>
    </div>
    </div>                 
</div>

<style>
    .container {
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }
    
    .right {
        height: 100%;
        background-color: white;
        border-radius: 2%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    }
    
    hr {
        height: 2px;
        width: 90%;
        border-width: 0;
        color: rgb(19, 18, 18);
        background-color: rgb(10, 10, 10);
        margin-left: 2%;
    }
    
    #pre_sui {
        margin-bottom: 20px;
        margin-right: 60px;
    }
</style>{% endblock content %}