{% extends 'base.html' %} {% block content %} {% load static %} data2:{{data2 }} <br> data:{{ recup }}
<div class="w3-row w3-border" style="margin: 40px; ">
    <div style="margin-bottom:5px; margin-top: 15px; margin-left: 50px;">
        <h3> <b> Récapitulatif des modalités</b></h3>
    </div>
    <div class="w3-third w3-container" style="margin-top: 20px; margin-bottom: 20px; ">
        <div class="col-xs-12 col-sm-6 col-md-10">
            <div class="card">
                <div class="card-body text-center" style="height: 70px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);border-radius: 20px">
                    <h4 class="card-title "> <b> Nature information </b> </h4>
                </div>
            </div>
        </div><br>
        <div class="col-xs-12 col-sm-6 col-md-10 ">
            <div class="card ">
                <div class="card-body text-center " style="height: 450px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);border-radius: 20px "> <br><br> <br><br> <br><br><br><br> {% if recup.0 %}

                    <h4 class="card-title "> <b> {{ recup.0  }}</b> </h4>{% else %} {% if natinf %}
                    <h4 class="card-title "> <b> {{ natinf }}</b> {% else %}
                        <h4 class="card-title "> <b> Choix non  sauvegardé</b> </h4>{% endif %}{% endif %}

                </div>
            </div>
        </div><br>

        <a href="javascript:history.back()">

            <div class="col-xs-12 col-sm-6 col-md-10" style="margin-top: 10%;">
                <div class="card">

                    <button type="button" class="btn btn-outline-primary">
                    <div class="card-body text-center;" style="font-size: 25px;">Précédent</div>
                </button>

                </div>
            </div>
        </a>
        <br>
    </div>
    <div>

        <div class="w3-twothird w3-container" style="margin-top: 20px;width: 60%; margin-bottom: 100px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);">

            <div class="col-xs-12 col-sm-6 col-md-12">
                <div class="card" style="margin-right: 4%;margin-left: 3%;margin-top: 1%;">
                    <div class="card-body text-center" style="background-color: white;  height: 70px;">
                        <h3 class="card-title "> <b> Modalités </b> </h3>
                    </div>
                </div>
            </div>

            <div style="background-color: white; width: 90%; height: 70%; margin: 5%;border-radius: 2%;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2); ">
                <div>
                    <div class="card-body">

                        {% if recup.0 %}
                        <h5 class="card-title"><button type="button" class="btn btn-primary btn-lg btn-radius">Nature de l'information : {{ recup.0 }} &nbsp;&nbsp;</button></h5>{% else %}{% if natinf %}
                        <h5 class="card-title"><button type="button" class="btn btn-primary btn-lg btn-radius">Nature de l'information : {{ natinf }} &nbsp;&nbsp;</button></h5>{% else %}
                        <h5 class="card-title"><button type="button" class="btn btn-primary btn-lg btn-radius">Merci de refaire le le choix sur Nature de l'information &nbsp;&nbsp;</button></h5>{% endif %}{% endif %}

                        <!--  -->
                        {% if recup.1 %}
                        <p class="card-text"><button type="button" class="btn btn-secondary btn-lg btn-radius">Parution: {{ recup.1 }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></p>
                        {% else %}{% if perceptsup %}
                        <p class="card-text"><button type="button" class="btn btn-secondary btn-lg btn-radius">Parution: {{ paruinf }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></p>
                        {% else %}
                        <p class="card-text"><button type="button" class="btn btn-danger btn-lg btn-radius">Parution &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </p>
                        {% endif %}{% endif %}


                        <!-- percepsu -->
                        {% if recup.2 %}
                        <p class="card-text"><button type="button" class="btn btn-danger btn-lg btn-radius">Perception support: {{ recup.2}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </p>
                        {% else %}{% if perceptsup %}
                        <p class="card-text"><button type="button" class="btn btn-danger btn-lg btn-radius">Perception support: {{ perceptsup}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>

                        </p> {% else %}
                        <p class="card-text"><button type="button" class="btn btn-danger btn-lg btn-radius">Perception support&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </p>
                        {% endif %} {% endif %}
                        <!--rebond  -->

                        {% if recup.4 %}
                        <p class="card-text"><button type="button" class="btn btn-info btn-lg btn-radius">Rebond de l info / 4 jrs: {{recup.4}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></p>
                        {% else %}{% if rebondinf %}
                        <p class="card-text"><button type="button" class="btn btn-info btn-lg btn-radius">Rebond de l info / 4 jrs: {{ rebondinf }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </p>{% else %}
                        <p class="card-text"><button type="button" class="btn btn-info btn-lg btn-radius">Rebond de l'information &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </p> {% endif %}{% endif %}
                        <!--  -->

                    </div> <br>
                    <div style="text-align: center;">
                        {% if "Aucun plan d'action ne correspond aux choix effectués" in filename %}
                        <p> {{ filename }} </p>
                        <p>Si vous avez rafraichie la page merci de reprendre l'étape <b> Rebond de l'info</b></p>
                        <button type="button " class="btn btn-outline-dark btn-lg btn-radius " style="color:black; ">
                            <a href="{% url 'Natureinformation' %} ">Recommencer la simulation </button></a><br><br>{% else %}
                        <h4>Plan d'action</h4>
                        <h5 class="font-weight-bold"> {{ filename}}</h5> <br>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}